.logo {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  margin-right: 32px;
  height: 64px;
}

.logo .logo-outline,
.logo .logo-light {
  width: 113px;
  height: 46px;
  z-index: 11;
  position: absolute;
}

.logo .logo-main {
  width: 109px;
  height: 41px;
  z-index: 12;
  position: absolute;
}

.logo .logo-light {
  filter: drop-shadow(1px 1px 2px black);
}

.header {
  z-index: 11;
  background: transparent;
}

.header-row {
  position: absolute;
  width: 100%;
  padding: 0 50px;
  top: 0;
  left: 0;
}

.menu-parent {
  flex-grow: 1;
}

.parallax-container {
  z-index: 0;
}

.banner-image {
  z-index: 1;
}

.banner-cover {
  z-index: 2;
}

.page-title-flexbox,
.page-title-flexbox * {
  z-index: 5;
}

.intro-layer {
  z-index: 0;
  background-color: white;
}

.subtitle-space {
  justify-content: center;
  text-align: center;
}

.subtitle-space > div > h3 {
  color: white;
  line-height: 0.6;
}

.dark-typography div,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(255, 255, 255, 0.85) !important;
}

.menu-parent .ant-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: transparent;
  font-weight: bolder;
  color: #7ace93;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3);
}

.menu-parent .ant-menu.ant-menu-dark .ant-menu-item-selected span {
  border-bottom: 1px rgba(255, 255, 255, 0.85) solid;
}

.menu-parent .ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover {
  background-color: transparent;
  font-weight: bolder;
}

@media screen and (max-width: 880px) {
  header.header {
    position: relative;
  }

  header.header > div.header-row {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 0;
    margin: 0 0 0 0 !important;
  }

  .header-row > .ant-col:last-child {
    flex-grow: 1;
    max-width: 100vw;
  }
}

.footer-container * {
  z-index: 11;
}

.footer-container article,
.footer-container article * {
  z-index: 13;
}

.inline-logo {
  height: 1.25em;
  object-fit: contain;
  margin: 0 0.4em;
}
